/*-------------------------
watch:背景画像指定[HTML5]
--------------------------*/
/* https://developer.mozilla.org/ja/docs/Web/CSS/background */

:root {
  /*scroll, fixed, local*/
  /*background-attachment*/
  --bg-att: fixed;
  /*normal, multiply, screen, overlay, darken, lighten, color-dodge, color-burn, hard-light,*/
  /*soft-light, difference, exclusion, hue, saturation, color, luminosity*/
  /*background-blend-mode*/
  --bg-bl-m: normal;
  /*border-box, padding-box, content-box, text*/
  /*background-clip*/
  --bg-cl: initial;
  /*color keywords, rgb, hex, hsl, currentcolor, transparent*/
  /*background-color*/
  --bg-col: black;
  /*url, gradient, element, image, cross-fade, image-set*/
  /*background-image*/
  --bg-img: url("");
  /*border-box, padding-box, content-box*/
  /*background-origin*/
  --bg-org: initial;
  /*top, bottom, left, right, center, percentage, length, multiple images, offsets*/
  /*background-position*/
  --bg-pos: 50% 50%;
  /*repeat-x, repeat-y, repeat, space, round, no-repeat*/
  /*background-repeat*/
  --bg-rep: no-repeat;
  /*cover, contain, width, width height, multiple images*/
  /*background-size*/
  --bg-siz: cover;
}
