:root {
  --CF-white: white;
  --CF-red: red;
  --CF-pink: pink;
  --CF-orange: orange;
  --CF-yellow: yellow;
  --CF-green: green;
  --CF-cyan: cyan;
  --CF-blue: blue;
  --CF-purple: purple;
  --CF-black: black;
  --CF-white2: #cc9;
  --CF-red2: #c03;
  --CF-pink2: #f3c;
  --CF-orange2: #f60;
  --CF-yellow2: #990;
  --CF-green2: #0c6;
  --CF-cyan2: #0cc;
  --CF-blue2: #39f;
  --CF-purple2: #63c;
  --CF-black2: #666;
  --CF-HEXblue: #004e72;
}

.CFOwnColor {
  text-shadow: initial;
}
.CFOwnColor.white {
  color: black;
  border: 1px solid black;
  background-color: var(--CF-white);
  border-radius: 5%;
}

.CFOwnColor.red {
  color: white;
  border: 1px solid var(--CF-red);
  background-color: var(--CF-red);
  border-radius: 5%;
}

.CFOwnColor.pink {
  color: white;
  border: 1px solid var(--CF-pink);
  background-color: var(--CF-pink);
  border-radius: 5%;
}

.CFOwnColor.orange {
  color: white;
  border: 1px solid var(--CF-orange);
  background-color: var(--CF-orange);
  border-radius: 5%;
}

.CFOwnColor.yellow {
  color: #000000;
  border: 1px solid var(--CF-yellow);
  background-color: var(--CF-yellow);
  border-radius: 5%;
}

.CFOwnColor.green {
  color: white;
  border: 1px solid var(--CF-green);
  background-color: var(--CF-green);
  border-radius: 5%;
}

.CFOwnColor.cyan {
  color: white;
  border: 1px solid var(--CF-cyan);
  background-color: var(--CF-cyan);
  border-radius: 5%;
}

.CFOwnColor.blue {
  color: white;
  border: 1px solid var(--CF-blue);
  background-color: var(--CF-blue);
  border-radius: 5%;
}

.CFOwnColor.purple {
  color: white;
  border: 1px solid var(--CF-purple);
  background-color: var(--CF-purple);
  border-radius: 5%;
}

.CFOwnColor.black {
  color: white;
  border: 1px solid var(--CF-black);
  background-color: var(--CF-black);
  border-radius: 5%;
}

.CFOwnColor.white2 {
  color: white;
  border: 1px solid var(--CF-white2);
  background-color: var(--CF-white2);
  border-radius: 5%;
}

.CFOwnColor.red2 {
  color: white;
  border: 1px solid var(--CF-red2);
  background-color: var(--CF-red2);
  border-radius: 5%;
}

.CFOwnColor.pink2 {
  color: white;
  border: 1px solid var(--CF-pink2);
  background-color: var(--CF-pink2);
  border-radius: 5%;
}

.CFOwnColor.orange2 {
  color: white;
  border: 1px solid var(--CF-orange2);
  background-color: var(--CF-orange2);
  border-radius: 5%;
}

.CFOwnColor.yellow2 {
  color: white;
  border: 1px solid var(--CF-yellow2);
  background-color: var(--CF-yellow2);
  border-radius: 5%;
}

.CFOwnColor.green2 {
  color: white;
  border: 1px solid var(--CF-green2);
  background-color: var(--CF-green2);
  border-radius: 5%;
}

.CFOwnColor.cyan2 {
  color: white;
  border: 1px solid var(--CF-cyan2);
  background-color: var(--CF-cyan2);
  border-radius: 5%;
}

.CFOwnColor.blue2 {
  color: white;
  border: 1px solid var(--CF-blue2);
  background-color: var(--CF-blue2);
  border-radius: 5%;
}

.CFOwnColor.purple2 {
  color: white;
  border: 1px solid var(--CF-purple2);
  background-color: var(--CF-purple2);
  border-radius: 5%;
}

.CFOwnColor.black2 {
  color: white;
  border: 1px solid var(--CF-black2);
  background-color: var(--CF-black2);
  border-radius: 5%;
}

.CFOwnColor.HEXblue {
  color: white;
  border: 1px solid var(--CF-HEXblue);
  background-color: var(--CF-HEXblue);
  border-radius: 5%;
}
